/* 51-google-fonts.html */

.roboto{
    font-family: 'Roboto', sans-serif;
}


.lato{
    font-family: 'Lato', sans-serif;
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
}


.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}